.main-article {
    margin-bottom: 3rem;
    margin: 2em;
}

.main-article__figure figcaption {
    margin: 1rem 0;
    font-size: var(--fs-300);
    opacity: .9;
}

.main-article__figure > img {
    width: 100%;
    aspect-ratio: 4 / 3;
    object-fit: cover;
}

.article-body {
    line-height: 2em;
}

.article-title {
    line-height: 4em;
}

.article-title {
    font-size: var(--fs-700);
}