.blog-snippet {
    padding-top: 3rem;
    margin: 2em;
    display: grid;
    gap: 1em;
    grid-template-areas: 
        " title "
        " meta "
        " desc "
        " image "
        " btn ";
}
.snippet__image {
    grid-area: image;
    width: 100%;
    aspect-ratio: 4 / 3;
    object-fit: cover;
}
.snippet__title {
    grid-area: title;
    font-size: var(--fs-500);
}
.snippet__text {
    grid-area: desc;
    font-size: var(--fs-300);
}
.snippet__meta {
    grid-area: meta;
    font-size: var(--fs-400);
}
.snippet__button {
    grid-area: btn;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
    line-height: 1;
    padding: 0.75em 1.75em;
    border-radius: 0.25em;
    align-self: start;
    justify-self: start;
    background-color: var(--secondary-color);
    color:white; 
    border: none;
    &:focus {
        outline: 0.125em solid var(--tertiary-color);
        offset: 0.25em;
    }
}
@media only screen and (min-width: 920px) {
    .blog-snippet {
        display: grid;
        grid-template-areas:
          "title image"
          "meta image"
          "desc image"
          "btn image";
        grid-column-gap: 4em;
        grid-template-columns: 1fr 40%;
        grid-template-rows: min-content min-content min-content 1fr;
    }
}
